
.vco-timeline .vco-navigation .timenav-background {
    /*background-color: rgba(3, 215, 21, 0.13)*/
    background-color: #afa1b7;
}


.vco-storyjs .vco-container.vco-main {
}

.vco-storyjs a {
/*color: #48A448;*/
color: #cd0e48;
}

.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 {
/*color: #48A448;*/
color: #5041B0;
}

.vco-timeline .vco-navigation .timenav-background .timenav-line {
background-color: #cd0e48;
}

.vco-storyjs .vco-feature p {
color: #4D4747;
}

.footnote a {
position: absolute;
font-size: .8em;
bottom: 5px;
z-index: 100;
right: 10px;	
}